<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>TODO List Web Application</display-name>

  <!-- Enable annotation processing for @WebServlet -->
  <metadata-complete>false</metadata-complete>

  <!-- Welcome files -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- TasksServlet is defined via @WebServlet annotation in the servlet class -->
  <!-- No need to define it here - annotation handles the mapping -->

</web-app>
